.container{
   margin: 2em 0em;
   width: 42em;
   height: auto;
   background-color: #ffffff;
   display: flex;
   flex-direction: column;
   border-radius: 10px;
   box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
   padding: 2em 2em;

   header{
      width: 100%;
      display: flex;
      margin-bottom: .5em;
      align-items: center;
   h1{
      font-size: 1.5em;
      margin-right: .5em;
   }
   .notifNum{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2em;
      height: 1.5em;
      background-color: hsl(219, 85%, 26%);
      border-radius: 5px;
      color: #ffffff;
      font-weight: bold;
   }
   .mark-read{
      padding-left: 15em;
      color: var(--light-gray);
   }
   }

   main{
      height: 100%;
      overflow: hidden;
      .main-container{
         background-color: white;
         border-radius: 10px;
         padding: 1em 1em;
         margin-bottom: .5em;
         .message{
            margin-left: 4.5em;
            margin-top: .5em;
            border-radius: 5px;
            font-size: 13px;
            padding: 1em;
            border: 1px solid var(--light-gray);
            background-color: white;
            text-align: justify;
         }
         .notifications{
            display: flex;
            flex-direction: column;
            justify-content:baseline;
            overflow-y: hidden;
            margin-bottom: 1em;
            background-color: var(--color2);
            padding: 1em;
            border-radius: 5px;
            .arriba{
               display: flex;
               .info{
                  font-size: 13px;
                  display: flex;
                  padding: 0px 1em;
                     flex-direction: column;
                  .user-notif{
                     width: 32em;
                     .name{
                        font-weight: bold;
                        color: black;
                     }
                     .action{
                        color: var(--light-gray);
                        padding-left: 5px;
                     }
                     .post{
                        color: var(--gray);
                        font-weight: bold;
                        padding-left: 5px;
                     }
                     .group{
                        font-weight: bold;
                        color: var(--dark-blue);
                        padding-left: 5px;
                     }
                  }
                  .time-ago{
                     color: var(--light-gray);
                  }
               }
               .dot{
                  width: 7px;
                  height: 7px;
                  background-color: red;
                  border-radius: 25px;
                  margin-top: .3em;
                  margin-left: 10px;
               }
               .perfil-pic{
                  width: 3em;
                  height: 3em;
               }
               .post-pic{
                  width: 3em;
                  height: 3em;
                  display: flex;
                  justify-self: end;
                  align-self: flex-end;
               }
            }
            .abajo{
            }
         }

      }

   }
}

.bold{
   font-weight: bold;
}