@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

:root{
   --color1: hsl(0, 0%, 100%);
   --color2: hsl(210, 60%, 98%);
   --color3: hsl(211, 68%, 94%);
   --lighter-gray: hsl(205, 33%, 90%);
   --light-gray: hsl(219, 14%, 63%);
   --gray: hsl(219, 12%, 42%);
   --dark-blue: hsl(224, 21%, 14%);
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   background-color: #F9FAFE;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   font-family: 'Plus Jakarta Sans', sans-serif;
}
.container{
   margin: 2em 0em;
   width: 33em;
   height: 42em;
   background-color: #ffffff;
   display: flex;
   flex-direction: column;
   border-radius: 10px;
   box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
   padding: 2em 2em;

   /* border: 3px solid rgba(0, 0, 0, 0.1); */
}
header{
   width: 100%;
   display: flex;
   margin-bottom: 2em;
   align-items: center;
}
header h1{
   font-size: 1.5em;
   margin-right: .5em;
}
.notifNum{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 2em;
   height: 1.5em;
   background-color: hsl(219, 85%, 26%);
   border-radius: 5px;
   color: #ffffff;
   font-weight: bold;
}
header > span{
   padding-left: 10.1em;
   color: var(--light-gray);
}

main{
   height: 100%;
   overflow: hidden;
}

.main-container{
   background-color: var(--color2);
   border-radius: 10px;
   padding: 1em 1em;
   margin-bottom: .5em;
}
.main-container .message{
   margin-left: 4.5em;
   margin-top: .5em;
   border-radius: 5px;
   font-size: 13px;
   padding: 1em;
   border: 1px solid var(--color2);
   background-color: white;
}
.notifications{
   display: flex;
   justify-content:baseline;
   overflow-y: hidden;
}
.notifications .info{
   font-size: 13px;
   display: flex;
   flex-direction: column;
   padding: 0px 1em;
}
.notifications .info > p:first-child{
   display: flex;
   padding-bottom: .5em;
}
.notifications canvas{
   width: 7px;
   height: 7px;
   background-color: red;
   border-radius: 25px;
   margin-top: .3em;
}
.notifications .info .time-ago{
   color: var(--light-gray);
}
.notifications .perfil-pic{
   width: 3em;
   height: 3em;
}
.notifications .post-pic{
   width: 3em;
   height: 3em;
}
.notifications .message{
   position: static;
   width: 100%;
}
